version: '3.5'

services:
  api:
    build:
      context: .
      dockerfile: ./app/dockerfile
    working_dir: /workspace
    volumes:
      - ./:/workspace
    env_file:
      - ./app/.env
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - milvus
    restart: unless-stopped

  celery-worker:
    build:
      context: .
      dockerfile: ./app/dockerfile
    working_dir: /workspace
    volumes:
      - ./:/workspace
    env_file:
      - ./app/.env
    command: celery -A app.core.celery_app worker --loglevel=info --pool=solo
    depends_on:
      - redis
      - postgres
      - milvus
    restart: unless-stopped

  web:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - api
    restart: unless-stopped
  
  postgres:
    image: postgres:16
    env_file:
      - "./app/.env"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped

  etcd:
    container_name: milvus-etcd
    image: quay.io/coreos/etcd:v3.5.0
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/etcd:/etcd
    command: etcd -advertise-client-urls=http://127.0.0.1:2379 -listen-client-urls=http://0.0.0.0:2379 --data-dir /etcd
    restart: unless-stopped

  minio:
    container_name: milvus-minio
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    ports:
      - "9001:9001"
      - "9000:9000"
    volumes:
      - ${DOCKER_VOLUME_DIRECTORY:-.}/volumes/minio:/minio_data
    command: minio server /minio_data --console-address ":9001"
    restart: unless-stopped

  milvus:
    image: milvusdb/milvus:latest
    container_name: milvus-standalone
    command: milvus run standalone
    env_file: 
      - "./app/.env"
    environment:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000
      MINIO_ACCESS_KEY_ID: minioadmin
      MINIO_SECRET_ACCESS_KEY: minioadmin
    ports:
      - "19530:19530"
      - "9091:9091"
    volumes:
      - milvus-data:/var/lib/milvus
    depends_on:
      - "etcd"
      - "minio"
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    env_file: 
      - "./app/.env"
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

  attu:
    image: zilliz/attu:v2.2.8
    ports:
      - "8080:3000"
    environment:
      MILVUS_URL: milvus:19530
    depends_on:
      - milvus
    restart: unless-stopped

volumes:
  pgdata:
  milvus-data: